#certificates {
    background-image: -webkit-gradient(linear, left top, right top, from(#243b55), to(#141e30));
    background-image: linear-gradient(to right, #243b55 0, #141e30 100%)
}

.certificate-header h1 {
    color: #fff
}

.certificate-header .section-title {
    padding-bottom: 20px
}

.certificates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 0
}

.certificate {
    width: 100%;
    border-radius: 8px;
    max-width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto
}

.certificate img {
    border-radius: 10px;
    margin: 15px;
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    -webkit-transition: all .5s!important;
    transition: all .5s!important
}

.certificate img:hover {
    -webkit-transform: scale(1) translateY(-.5rem)!important;
    transform: scale(1) translateY(-.5rem)!important
}