#header {
    position: fixed;
    font-family: Kodchasan, sans-serif, 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto
}

.header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, .24);
    -webkit-transition: .5s ease background-color;
    transition: .5s ease background-color
}

.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px
}

.nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: .5s ease left;
    transition: .5s ease left
}

.nav-list ul.active {
    left: 0
}

.nav-list ul a {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #cacaca;
    text-transform: uppercase;
    padding: 20px;
    display: block
}

.nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    color: var(--portfolio-hover);
    font-size: 5rem;
    letter-spacing: 50px;
    z-index: -1;
    -webkit-transition: .3s ease letter-spacing;
    transition: .3s ease letter-spacing
}

.nav-list ul li:hover a::after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: 10px;
    -webkit-transition: 1s ease letter-spacing;
    transition: 1s ease letter-spacing
}

.nav-list ul li:hover a {
    color: var(--primary-color);
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: ease .4s;
    transition: ease .4s
}

.menu {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #cacaca;
    border-radius: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin-right: 20px
}

.menu:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    -webkit-animation: 1s ease infinite;
    animation: 1s ease infinite
}

.menu:hover:after {
    -webkit-animation: none;
    animation: none
}

.menu .bar {
    height: 3.5px;
    width: 30px;
    position: relative;
    background-color: transparent;
    z-index: -1
}

.menu .bar::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #cacaca;
    -webkit-transition: 1s ease;
    transition: 1s ease
}

.menu .bar::before {
    top: -8px;
    left: 5px;
    content: '';
    border-radius: 20px;
    background-color: #cacaca;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    position: absolute;
    height: 100%;
    width: 85%
}

#hamburger {
    display: none
}

#hamburger:checked~label .menu .bar:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 0;
    left: 0
}

#hamburger:checked~label .menu .bar:before {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
    top: 0;
    left: 0;
    width: 100%
}

.menu .bar::after {
    border-radius: 20px;
    top: 8px
}

.menu .bar::before {
    bottom: 8px
}

.menu.active .bar::before {
    bottom: 0
}

.menu.active .bar::after {
    top: 8px
}

@media only screen and (min-width:1200px) {
    .menu {
        display: none
    }
    .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: transparent
    }
    .nav-list ul li {
        display: inline-block
    }
    .nav-list ul li a {
        font-size: 1.8rem
    }
    .nav-list ul a:after {
        display: none
    }
}