#loader {
    position: fixed;
    z-index: 1;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    overflow: visible;
    height: 100vh
}

#loader span {
    background-image: url(../img/blob.svg);
    width: 75px;
    height: 75px;
    margin: 0 15px;
    -webkit-animation: dots 1s infinite ease-in-out;
    animation: dots 1s infinite ease-in-out
}

#loader span:nth-child(2) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

#loader span:nth-child(3) {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

@-webkit-keyframes dots {
    50% {
        opacity: 0;
        -webkit-transform: scale(.5) translateY(5px);
        transform: scale(.5) translateY(5px)
    }
}

@keyframes dots {
    50% {
        opacity: 0;
        -webkit-transform: scale(.5) translateY(5px);
        transform: scale(.5) translateY(5px)
    }
}

@-webkit-keyframes loadingAnimation {
    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes loadingAnimation {
    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}