@media only screen and (min-width:980px) {
    .knowledge-header p {
        font-weight: 600;
        opacity: .9;
        margin: 0;
        color: #010101
    }
    .knowledge-icons {
        margin-right: 10px
    }
}

@media only screen and (max-width:960px) {
    .knowledge-wrapper {
        font-family: 'Open Sans', sans-serif;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .knowledge {
        margin: 10px 0
    }
}

@media only screen and (max-width:768px) {
    html {
        font-family: 'Open Sans', sans-serif
    }
    .portfolioIcon {
        font-size: 20px
    }
    #services .section-title,
    h1.section-title {
        font-size: 3rem
    }
    .home h1 {
        font-size: 3.4rem
    }
    .home h2 {
        font-size: 2.4rem
    }
    .home .cta {
        padding: 10px 20px;
        font-size: 1.5rem
    }
    #services .service-item {
        text-align: center;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 2.5%
    }
    .my-form {
        width: 80%
    }
    .my-form h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5rem
    }
    .social {
        -webkit-transform: rotate(90deg) translateY(150%)!important;
        transform: rotate(90deg) translateY(150%)!important
    }
    .rightButton {
        visibility: visible;
        opacity: 0;
        position: fixed;
        left: 5px;
        top: 50%;
        font-size: 30px
    }
    .rightButton:hover {
        visibility: hidden;
        transition: ease .7s
    }
    .rightButton:hover+.social {
        -webkit-transform: rotate(90deg) translateY(0)!important;
        transform: rotate(90deg) translateY(0)!important
    }
    .rightButton:hover+.social span {
        -webkit-transform: translateX(-280px);
        transform: translateX(-280px)
    }
    .rightButton:hover+.social .socialBtn+.iconsBox i {
        opacity: 1
    }
}

@media only screen and (max-width:500px) {
    .brand h1 {
        font-size: 2rem
    }
    .nav-bar .brand {
        margin: 0 20px;
    }
    .nav-list ul {
        -webkit-clip-path: ellipse(360px 370px at right);
        clip-path: ellipse(360px 370px at right)
    }
    .nav-list ul a::before {
        position: absolute;
    }
    .nav-list ul a:hover::before {
        opacity: 0
    }
    .nav-list ul li a::before {
        content: '';
        position: absolute;
        -webkit-filter: invert(1);
        filter: invert(1);
        background-size: cover;
        width: 25px;
        height: 25px;
        left: -25px;
    }
    .nav-list ul li:nth-child(1) a::before {
        background: url(https://api.iconify.design/fluent:window-dev-tools-24-regular.svg) no-repeat center center/contain
    }
    .nav-list ul li:nth-child(2) a::before {
        background: url(https://api.iconify.design/entypo:code.svg) no-repeat center center/contain
    }
    .nav-list ul li:nth-child(3) a::before {
        background: url(https://api.iconify.design/clarity:certificate-solid.svg) no-repeat center center/contain;
        left: -35px;
    }
    .nav-list ul li:nth-child(4) a::before {
        background: url(https://api.iconify.design/ri:mail-send-line.svg) no-repeat center center/contain
    }
    .home h1 {
        font-size: 2.4rem
    }
    .home h2 {
        font-size: 1.6rem;
        margin-top: 35px
    }
    #services .service-bottom {
        display: initial
    }
    #services .service-item {
        width: 245px;
        padding: 25px;
        margin: 2.5% 0 10% 0
    }
    .service-top p {
        width: 35rem
    }
    .carousel-info h2 {
        display: none
    }
    figure {
        height: 300px;
        width: 300px
    }
    .certificate {
        height: 200px
    }
    #footer h2,
    #footer p,
    #form,
    .brand h1,
    .home .cta,
    .home h1,
    .home h2,
    .lb-details,
    .nav-list ul a,
    .social ul li a span {
        font-family: 'Open Sans', sans-serif
    }
    .social ul li a span {
        display: none
    }
    #footer h2 {
        word-break: break-all;
        letter-spacing: .4rem
    }
    .contact-icon #smoothScroll,
    .programmer {
        display: none
    }
}

@media only screen and (max-width:386px) {
    #footer h2,
    .brand h1 {
        font-size: 1.6rem;
        text-align: center
    }
    .fa-arrow-up,
    .fa-envelope,
    .fa-file-pdf,
    .fa-globe-americas {
        font-size: 30px
    }
}