@font-face {
  font-family: 'Salvation Typeface Font';
  src: url('../fonts/Salvation Typeface Font.otf') format('opentype');
  font-display: swap;
}

:root {
  --primary-color: #470ba9;
  --portfolio-hover: rgba(71, 11, 169, 0.5);
  --lightblue: #5c94cd;
  --speed: 3.5s;
  --main-color: hsl(232, 47%, 56%);
  --main-color-accent: hsl(230, 58%, 30%);
  --text-color: hsl(208, 13%, 45%);
  --text-color-accent: hsl(235, 26%, 35%);
  --background-color: hsl(220, 38%, 97%);
  --line-color: hsl(249, 20%, 86%);
  --max-width: 60rem;
  --min-width: 45rem;
}

.body-theme {
  --text-color: #222;
  --border-color: #111;
  --bg-gray-900: #a0aec0;
  --bg-gray-800: #cbd5e0;
  --hr-color: rgba(1, 1, 1, 0.2);
  --nav-links: #cacaca;
  --nav-links2: #303030;
  --logo-filter: invert(1);
  --form-focus-border: #111;
  --menu-line-bg: #cacaca;
  --menu-line-bg2: #808080;
  --scrollbar-thumb: #15171a;
  --scrollbar-thumb-hover: #373c44;
  --carousel-info-bg: rgba(1, 1, 1, 0.6);
  --carousel-info-text: #fff;
  --swiper-pagination-bullet: #111;
  --content-title: #111;
  --content-title-span: #555;
  --lb-navigation: invert(1);
}

.dark-theme {
  --text-color: #cacaca;
  --border-color: #808080;
  --bg-gray-900: #111827;
  --bg-gray-800: #181f2e;
  --hr-color: rgba(255, 255, 255, 0.2);
  --nav-links: #a3a3a3;
  --nav-links2: #a3a3a3;
  --logo-filter: invert(0);
  --form-focus-border: #f1f1f1;
  --menu-line-bg: #808080;
  --menu-line-bg2: #808080;
  --scrollbar-thumb: #ab9cc9;
  --scrollbar-thumb-hover: #c7bddb;
  --carousel-info-bg: rgba(255, 255, 255, 0.6);
  --carousel-info-text: #111;
  --swiper-pagination-bullet: #fff;
  --content-title: #cacaca;
  --content-title-span: #808080;
  --lb-navigation: none;
}

a[href]:not([class]) {
  color: #5c94cd;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scale95:hover {
  transform: scale(0.95);
}

a::active {
  color: var(--primary-color);
}

.menuLinks-2 {
  color: var(--nav-links) !important;
}

.menu-transparent {
  background: transparent;
  backdrop-filter: none;
  border: none;
}

.menu-default {
  background: rgba(31, 30, 30, 0.3);
  backdrop-filter: blur(25px);
  border-bottom: 1px solid rgba(111, 111, 111, 0.4);
}

.lb-next,
.lb-prev {
  -webkit-filter: var(--lb-navigation);
  filter: var(--lb-navigation);
}

.lb-data .lb-number {
  font-weight: 500;
}

.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.bs-tooltip-top .arrow::before {
  top: -0.1rem;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: var(--primary-color);
}

.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--primary-color);
}

.tooltip-inner {
  max-width: 400px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  background-color: rgba(71, 11, 169, 0.1);
  box-shadow: 0px 10px 15px -3px var(---hr-color);
  border: 0.2rem solid var(--primary-color);
  border-radius: 0.25rem;
}

#theme-toggle {
  margin: 0 auto;
}

#theme-toggle:hover {
  color: var(--primary-color);
}

#theme-toggle::after {
  content: '';
}

::-webkit-scrollbar {
  padding-right: 5px;
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 15px 0 0 15px;
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
  background: #605080;
  color: #fff;
}

::selection {
  background: #605080;
  color: #fff;
}

.showScrollbar ::-webkit-scrollbar-thumb {
  display: initial;
}

html {
  font-family: 'Salvation Typeface Font', 'Open Sans', sans-serif;
  font-size: 10px;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  overflow: overlay;
}

body {
  background: var(--bg-gray-900);
}

p {
  text-transform: initial;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.btn-outline-danger {
  background-color: #dc3545;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-outline-danger:hover {
  background-color: rgba(220, 53, 69, 0.9);
  border-color: #dc3545;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: var(--primary-color);
}

.section-title hr {
  border-top: 1px solid var(--hr-color);
}

.info {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.typed-text {
  color: var(--primary-color);
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: var(--text-color);
  margin-left: 0.1rem;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

.cursor.typing {
  background-color: var(--primary-color);
  -webkit-animation: none;
  animation: none;
}

.tooltip {
  position: absolute;
  z-index: 15;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 15px;
  word-wrap: break-word;
  opacity: 0;
}

@-webkit-keyframes blink {
  0% {
    background-color: var(--text-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--text-color);
  }
}

@keyframes blink {
  0% {
    background-color: var(--text-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--text-color);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes menu_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@keyframes menu_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80rem);
    transform: translateX(-80rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80rem);
    transform: translateX(-80rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
