@font-face {
    font-family: 'Salvation Typeface Font';
    src: url("../fonts/Salvation Typeface Font.otf") format("opentype");
    font-display: swap;
}

:root {
    --primary-color: #470ba9;
    --portfolio-hover: rgba(71, 11, 69, .5);
    --lightblue: #5c94cd;
    --scrollbar: #111;
    --speed: 3.5s;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--scrollbar)), to(#000));
    background: -moz-gradient(linear, left top, left bottom, from(var(--scrollbar)), to(#000));
    background: linear-gradient(360deg, var(--scrollbar), #000);
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(var(--scrollbar)));
    background: -moz-gradient(linear, left top, left bottom, from(#000), to(var(--scrollbar)));
    background: linear-gradient(360deg, #000, var(--scrollbar));
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

::selection {
    background: #605080;
    color: #fff;
}

html {
    font-family: 'Salvation Typeface Font', 'Open Sans', sans-serif;
    font-size: 10px;
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}

p {
    text-transform: initial;
    text-align: center;
    font-family: Kodchasan, sans-serif, 'Open Sans', sans-serif;
    color: #0d1b1b;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

.btn-outline-danger {
    background-color: #dc3545;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-outline-danger:hover {
    background-color: rgba(220, 53, 69, .9);
    border-color: #dc3545;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: var(--primary-color);
}

.info {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.typed-text {
    color: var(--primary-color);
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: var(--primary-color);
    margin-left: .1rem;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.cursor.typing {
    -webkit-animation: none;
    animation: none;
}

.tooltip {
    position: absolute;
    z-index: 15;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 15px;
    word-wrap: break-word;
    opacity: 0;
}

.tooltip.show {
    opacity: .9;
}

.tooltip .tooltip-arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
}

.tooltip .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-auto[data-popper-placement^=top],
.bs-tooltip-top {
    padding: .4rem 0;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow,
.bs-tooltip-top .tooltip-arrow {
    bottom: 0;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
    top: -1px;
    border-width: .4rem .4rem 0;
    border-top-color: #000;
}

.bs-tooltip-auto[data-popper-placement^=right],
.bs-tooltip-end {
    padding: 0 .4rem;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow,
.bs-tooltip-end .tooltip-arrow {
    left: 0;
    width: .4rem;
    height: .8rem;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
    right: -1px;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #000;
}

.bs-tooltip-auto[data-popper-placement^=bottom],
.bs-tooltip-bottom {
    padding: .4rem 0;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow,
.bs-tooltip-bottom .tooltip-arrow {
    top: 0;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    bottom: -1px;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #000;
}

.bs-tooltip-auto[data-popper-placement^=left],
.bs-tooltip-start {
    padding: 0 .4rem;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow,
.bs-tooltip-start .tooltip-arrow {
    right: 0;
    width: .4rem;
    height: .8rem;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    left: -1px;
    border-width: .4rem 0 .4rem .4rem;
    border-left-color: #000;
}

.tooltip-inner {
    max-width: 400px;
}

@-webkit-keyframes blink {
    0% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

@keyframes blink {
    0% {
        background-color: #ccc
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes menu_puls {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

@keyframes menu_puls {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-80rem);
        transform: translateX(-80rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-80rem);
        transform: translateX(-80rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}